<div class="wrapper fill-parent">

    <div class="center"><span class="logo-text andele-mono">Weather app</span></div>

    <div class="center">
        <span class="links">
            <a routerLink="/today">Today</a>
            <span>&nbsp;|&nbsp;</span>
            <a routerLink="/weekly">Weekly</a>
            <span>&nbsp;|&nbsp;</span>
            <a routerLink="/monthly">Monthly</a>
        </span>
    </div>

    <div>
        <span>Selected: </span>{{cityObj.id}}
        <select [(ngModel)]="cityObj" (ngModelChange)="onCityObjectChange()">
            <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}
            </option>
        </select>
        <div>{{cityObj.name}}, Lat: {{cityObj.lat}}, Lon: {{cityObj.lon}}</div>
    </div>

</div>