<div class="d-flex justify-content-between">

    <div>Weather app</div>

    <div>
        <a routerLink="/today">Today</a>
        <span>&nbsp;|&nbsp;</span>
        <a routerLink="/weekly">Weekly</a>
        <span>&nbsp;|&nbsp;</span>
        <a routerLink="/monthly">Monthly</a>
    </div>

    <div>
        <span>Selected: </span>{{cityObj?.id}}
        <select [(ngModel)]="cityObj">
            <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}
            </option>
        </select>
    </div>

</div>

<div class="d-flex justify-content-between">

    <div></div>
    <div></div>
    <div>
        {{cityObj?.name}}, {{cityObj?.lon}}, {{cityObj?.lat}}
    </div>

</div>