.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
}

.navbar{
    grid-column: 1/13;
    grid-row: 1/3;
    padding: 0;
}

.content{
    grid-column: 1/10;
    grid-row: 3/13;
}

.fill-parent{
    height: 100%;
    width: 100%;
}

.sidebar{
    grid-column: 10/13;
    grid-row: 3/13;
}
