<div class="wrapper">

    <!--<div class="left-arrow">
        <img class="arrow-img flip-image-horizontally" alt="left-arrow"
            src="//cdn-icons-png.flaticon.com/512/271/271228.png">
    </div>
    <div class="right-arrow">
        <img class="arrow-img" alt="right-arrow" src="//cdn-icons-png.flaticon.com/512/271/271228.png">
    </div>-->

    <app-city-info-panel class="current-city" [city]="cityObj"></app-city-info-panel>

    <div class="weekly">
        <div *ngFor="let data of weatherData?.forecast?.forecastday">
            <app-weekly-list-item [forecast]="data" (listItemClicked)="refreshHourlyPanel($event)"></app-weekly-list-item>
        </div>
    </div>

    <div *ngIf="forecastData" class="detailed">
        <app-hourly-panel [list]="forecastData.forecast.forecastday[0].hour"></app-hourly-panel>
    </div>
    
</div>