/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div{
    -webkit-box-shadow:inset 0px 0px 0px 1px lightblue;
    -moz-box-shadow:inset 0px 0px 0px 1px lightblue;
    box-shadow:inset 0px 0px 0px 0.1px blue;
}

.left-arrow{
    grid-column: 1/1;
    grid-row: 5/5
}

.right-arrow{
    grid-column: 12/12;
    grid-row: 5/5
}

.arrow-img{
    width: 100px;
    height: 100px;
}

.flip-image-horizontally{
    transform: rotateY(180deg);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}