<div class="wrapper">
    <form class="form">
        <div>
            <label for="username"> Username:
                <input type="text" placeholder="Username" id="username" name="username">
            </label>
        </div>
        <div>
            <label for="password"> Password:
                <input type="password" placeholder="Password" id="password" name="password">
            </label>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>