.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.form{
    grid-column: 6/8;
    grid-row: 5/6;
}