<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username: </label>
    <input id="username" type="text" formControlName="username">

    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password">

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>

<p>Form Status: {{ loginForm.status }}</p>
<p>Form value: {{ loginForm.value | json}}</p>
<p>Valid users: {{ USERS | json}}</p>


<!--<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="name"
            #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>

        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password"
            #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Password is required</div>
    </div>

</form>-->