.hourly-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.hourly-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 0 12.5%;
}